<mat-list class="space pad-left">
    <mat-list-item class="col s12">
        <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
        <p mat-line><span class="hover-fade" (click)='demoAnalysisPopup()'>Demographic Analysis</span></p>
    </mat-list-item>
    <mat-list-item class="col s12">
        <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
        <p mat-line><span class="hover-fade" (click)='socialCategPopup()'>Socio-Professional Categorys</span></p>
    </mat-list-item>
    <mat-list-item class="col s12">
        <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
        <p mat-line><span class="hover-fade" (click)='ecoPotentielPopup()'>Economic potential</span></p>
    </mat-list-item>
</mat-list>