<header class="white col s12">
    <div class="col s4 m2 offset-s2">
        <img class="logo responsive-img geo" src="assets/images/logo_geoplus.png" alt="Logo Géo-Etudes Plus" srcset="">
    </div>
    <div class="col s4 m2">
        <img class="logo responsive-img" src="assets/images/logo_supermap.png" alt="Logo Supermap" srcset="">
    </div>
    <div class="col s8 m4 offset-m3 offset-s2 space top">
        <mat-form-field class="col s10">
            <input matInput placeholder="Search"> 
        </mat-form-field>
        <mat-icon>search</mat-icon>
    </div>
</header>
