<footer class="page-footer black">
  <div class="row black z-depth-3">
    <div class="col s12 m3 ct">
      <h6>Contacts</h6>
      <mat-list>
        <mat-list-item>
          <p class="normal-p">- Géo-Etudes Plus</p>
        </mat-list-item>
        <mat-list-item>
          <p class="normal-p">- geoetudesplus@gmail.com</p>
        </mat-list-item>
        <mat-list-item>
          <p class="normal-p">- contacts@geoetudesplus.com</p>
        </mat-list-item>
        <mat-list-item>
          <p class="normal-p">- +221 77 725 97 77</p>
        </mat-list-item>
        <mat-list-item>
          <p class="normal-p">- +221 77 225 01 87</p>
        </mat-list-item>
        <mat-list-item>
          <p class="normal-p">- 66, Cité Sonatel 2, Liberté 6 Extension (en face Numero UNO)</p>
        </mat-list-item>
        <mat-list-item>
          <p class="normal-p">- Dakar, Sénégal</p>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col s12 m12 center-content">
      <p class="social hide-on-med-and-down">
        <img src="assets/images/logo-blanc.png" class="logo"/>
        <a href="https://www.facebook.com/G%C3%A9o-Etudes-Plus-449809649202128/" target="_blank">
          <i class="fab fa-facebook-square"></i>Facebook
        </a>
        <a
          href="https://www.linkedin.com/in/geo-etudes-plus-241537188/"
          target="_blank"
          ><i class="fab fa-linkedin"></i>LinkedIn
        </a>
        <a href="https://twitter.com/GeoEtudes" target="_blank"
          ><i class="fab fa-twitter-square"></i>Twitter
        </a>
      </p>
      <p class="social hide-on-med-and-up">
        <img src="assets/images/logo-blanc.png" class="logo"/>
        <a href="https://www.facebook.com/G%C3%A9o-Etudes-Plus-449809649202128/" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/geo-etudes-plus-241537188/"
          target="_blank"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/GeoEtudes" target="_blank"
          ><i class="fab fa-twitter-square"></i>
        </a>
      </p>
    </div>
  </div>
  <!-- <div class="footer-copyright grey darken-4 col s12">
    <div class="container center-align">&copy; Géo-Etudes Plus</div>
  </div> -->
</footer>
