<mat-dialog-content class="row">
    <div class="col s12 m8 offset-m2">
        <app-chart [chartData]="analysisData!" [layout]="layout"></app-chart>
    </div>
    <div class="col s12 m10 offset-m1">
        <table mat-table [dataSource]="data" class="mat-elevation-z8 white">

            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age category </th>
                <td mat-cell *matCellDef="let zone"> {{zone.age}} </td>
                <td mat-footer-cell *matFooterCellDef class="bold"> Total </td>
            </ng-container>
            
            <ng-container matColumnDef="pourcentage">
                <th mat-header-cell *matHeaderCellDef> Percentage </th>
                <td mat-cell *matCellDef="let zone"> {{zone.pourcentage }}% </td>
                <td mat-footer-cell *matFooterCellDef class="bold"> 100 %</td>
            </ng-container>
            
            <ng-container matColumnDef="primaire">
                <th mat-header-cell *matHeaderCellDef> Primary Zone </th>
                <td mat-cell *matCellDef="let zone"> {{zone.primaire}} </td>
                <td mat-footer-cell *matFooterCellDef class="bold"> 52073 </td>
            </ng-container>
            
            <ng-container matColumnDef="secondaire">
                <th mat-header-cell *matHeaderCellDef> Secondary Zone </th>
                <td mat-cell *matCellDef="let zone"> {{zone.secondaire}} </td>
                <td mat-footer-cell *matFooterCellDef class="bold"> 53547 </td>
            </ng-container>
            
            <ng-container matColumnDef="zone_chalandise">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let zone"> {{zone.zone_chalandise}} </td>
                <td mat-footer-cell *matFooterCellDef class="bold"> 105530 </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="btn-cn space top pad-left right">
    <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="'no'"
    cdkFocusInitial
    >
    Close
    </button>
</mat-dialog-actions>
        